<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<div id='container'>
<h2>Add Some Numbers</h2>
<form method='post' action='/test'>
  <input type='text' name='x' id='x' required placeholder="1st Number">
  <h2>+</h2>
  <input type='text' name='y' id='y' required placeholder="2nd Number">
  <h2>=</h2>
  <input type='submit' value='I MUST KNOW'>
</form>
</div>
</html>
